/* general */

body {
    margin: 0;
    font-family: "Inter", system-ui;
    background-color: #f6f7f8;
}

.d-none {
    display: none !important;
}

/* site content */

.contacts-content {
    position: relative;
    top: 96px;
    left: 232px;
    max-width: 1200px;
    display: flex;
    overflow-y: hidden;
    overflow: hidden;
}

/* overview */

.contacts-container {
    width: 456px;
    height: calc(100vh - 96px);
    background-color: #ffffff;
    box-shadow: 4px 0px 6px 0px #00000014;
    overflow-y: scroll;
}

.contacts-container::-webkit-scrollbar {
    width: 10px;
}

.contacts-container::-webkit-scrollbar-button:vertical:decrement {
    background-color: white;
    background-image: url("./assets/img/contacts_arrow_up.svg");
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: 8px;
}

.contacts-container::-webkit-scrollbar-button:vertical:increment {
    background-color: white;
    background-image: url("./assets/img/contacts_arrow_down.svg");
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 8px;
}

.contacts-container::-webkit-scrollbar-track {
    background: white;
}

.contacts-container::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 10px;
}

.contacts-new-contact-div {
    position: fixed;
    width: 436px;
    height: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.contacts-new-contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    border: 1px;
    gap: 16px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
    color: white;
    background-color: #2a3647;
    cursor: pointer;
}

.contacts-new-contact-btn img {
    width: 32px;
}

.contacts-new-contact-btn:hover {
    background-color: #29abe2;
}

.contacts-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
}

.contacts-overview-space {
    width: 352px;
    min-height: 56px;
}

.contacts-overview-category {
    min-width: 352px;
    height: 24px;
    margin: 17px 36px;
    padding-left: 70px;
    gap: 8px;
    display: flex;
    align-items: center;
}

.contacts-seperatore-horizontal {
    width: 352px;
    height: 1px;
    background-color: lightgray;
    margin: 8px 0;
}

.contacts-overview-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 352px;
    height: 78px;
    border-radius: 10px;
    padding-left: 40px;
    margin: 15px 24px;
    cursor: pointer;
}

.contacts-overview-contact-unselected {
    background-color: white;
    color: black;
}

.contacts-overview-contact-selected {
    background-color: #2a3647;
    color: white;
}

.contacts-overview-contact-unselected:hover {
    background-color: #f6f7f8;
}

.contacts-initials {
    font-size: 12px;
}

.contacts-name-email {
    display: flex;
    justify-content: flex-start;
    width: 260px;
}

.contacts-center {
    display: flex;
    flex-direction: column;
    height: 48px;
    gap: 5px;
    font-size: 20px;
}

.contacts-center a {
    color: #29abe2;
    cursor: pointer;
    font-size: 16px;
}

.headline-margin {
    margin-top: 100px;
}


/* overview mobil */

.contacts-add-contact-mobil {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 56px;
    height: 56px;
    border-radius: 46px;
    cursor: pointer;
    background-color: #2a3647;
    background-image: url("./assets/img/contacts_new_contact.svg");
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 50% 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contacts-add-contact-mobil:hover {
    background-color: #29abe2;
} 



/* headline details div */

.contacts-headline-details-div {
    margin-left: 75px;
    margin-top: 140px;
}


/* headline details mobil */

.contacts-h-d-mobil {
    display: flex !important;
}


/* contact headline */

.contacts-details-mobil-close-btn {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 32px;
    height: 32px;
    padding: 8px;
    background-image: url("./assets/img/backarrow.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    border-radius: 32px;
}

.contacts-details-mobil-close-btn:hover {
    background-color: #e4e3e3;
}

.contacts-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 90px;
}

.contacts-headline h1 {
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}

.contacts-seperator-vertikal {
    width: 3px;
    height: 80%;
    background-color: #29abe2;
    margin-left: 16px;
    margin-right: 16px;
}

.contacts-headline h4 {
    font-weight: 400;
    font-size: 27px;
    margin: 0;
}

.contacts-headline-seperator-horizontal {
    display: none;
    width: 100px;
    height: 3px;
    background-color: #29abe2;
    margin-top: 16px;
}

/* contact details */

.contacts-contact-details {
    height: fit-content;
    width: fit-content;
    gap: 21px;
    margin-top: 30px;
}

.contacts-contact-logo-name {
    display: flex;
    justify-content: space-between;
    max-width: 630px;
}

.contacts-contact-details-btn-div {
    display: flex;
    align-items: center;
}

.contacts-contact-details-h-edit-delete {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts-contact-details-h-edit-delete h2 {
    min-height: 56px;
    font-size: 47px;
    margin: 0;
}

.contacts-contact-details-h-edit-delete button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 24px;
    margin-top: 8px;
    margin-right: 16px;
    cursor: pointer;
}

.contacts-contact-details-h-edit-delete button:hover {
    color: #29abe2;
    font-weight: 700;
}

.contacts-contact-details-edit-btn {
    width: 60px;
    background-image: url("./assets/img/contacts_pen.svg");
    background-size: 24px;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.contacts-contact-details-edit-btn:hover {
    background-image: url("./assets/img/contacts_pen_hover.svg");
}

.contacts-contact-details-delete-btn {
    width: 80px;
    background-image: url("./assets/img/contacts_bin.svg");
    background-size: 24px;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.contacts-contact-details-delete-btn:hover {
    background-image: url("./assets/img/contacts_bin_hover.svg");
}

.contacts-details-info-hl {
    width: 207px;
    height: 74px;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
}

.contacts-details-info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.contacts-details-info a {
    color: #29abe2;
    cursor: pointer;
    font-size: 16px;
}

.contacts-d-more-options-btn {
    position: absolute;
    right: 100px;
    bottom: 50px;
    width: 56px;
    height: 56px;
    background-image: url("./assets/img/contacts-options.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #2a3647;
    border-radius: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.contacts-d-more-options-btn:hover {
    background-color: #29abe2;
}


/* contact add / edit */

.contacts-add-edit-bg-hide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(+200%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: #b8b9ba5d;
    opacity: 0;
    transition: all 125ms ease-in-out;
}

.contacts-add-edit-bg-show {
    transform: translateX(0%) !important;
    opacity: 1 !important;
}

.contacts-add-edit-div {
    position: absolute;
    top: 50px;
    left: -125px;
    z-index: 3;
    transform: translateX(+200%);
    transition: all 125ms ease-in-out;
    width: 1220px;
    height: 590px;
    background-color: white;
    border-radius: 30px;
    display: flex;
}

.contacts-translateX {
    transform: translateX(0%) !important;
}

/* contact edit */

.contacts-edit-title {
    width: 453px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #2a3647;
}

.contacts-edit-title img {
    width: 54px;
    height: 67px;
    margin-left: 50px;
}

.contacts-edit-title-h {
    color: white;
    margin-left: 50px;
    margin-top: 24px;
    margin-bottom: 90px;
}

.contacts-edit-title-h h1 {
    font-size: 61px;
    margin: 0;
}

.contacts-edit-title-h h3 {
    font-size: 27px;
    font-weight: 400;
}

.contacts-edit-section {
    display: flex;
    margin-bottom: 100px;
    padding: 50px;
}

.contacts-edit-section svg {
    margin-left: 50px;
    margin-right: 75px;
    margin-top: 150px;
}

.contacts-edit-input-btn {
    max-width: 422px;
}

.contacts-add-edit-close-btn {
    width: 32px;
    height: 32px;
    margin-left: 93%;
    background-image: url("./assets/img/close.svg");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    border-radius: 56px;
    margin-bottom: 60px;
}

.contacts-add-edit-close-btn:hover {
    background-color: #e8e8e8;
}

.contacts-edit-input {
    display: flex;
    flex-direction: column;
    height: 215px;
    gap: 32px;
    margin-bottom: 30px;
}

.contacts-edit-input input {
    width: 376px;
    max-height: 50px;
    border-radius: 10px;
    padding: 13px 21px;
    border: solid 1px #e8e8e8;
    font-size: 20px;
    font-weight: 400;
    outline-color: #29abe2;
}

.contacts-edit-delete-btn {
    padding: 15px 24px;
    border-radius: 8px;
    border: solid 1px #2a3647;
    transition: all 150ms ease-in-out;
    margin-right: 16px;
    cursor: pointer;
}

.contacts-edit-delete-btn:hover {
    color: #29abe2;
    border: solid 1px #29abe2;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.contacts-edit-save-btn {
    color: white;
    padding: 16px;
    border-radius: 8px;
    background-color: #2a3647;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.contacts-edit-save-btn:hover {
    background-color: #29abe2;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.contacts-edit-name {
    background-image: url("./assets/img/person.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 95% 50%;
}

.contacts-edit-email {
    background-image: url("./assets/img/mail.svg");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: 97% 50%;
}

.contacts-edit-number {
    background-image: url("./assets/img/phone.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 95% 50%;
}

/* contact add new */

.contacts-add-title {
    width: 467px;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: #2a3647;
}

.contacts-add-title img {
    width: 54px;
    height: 67px;
    margin-left: 50px;
}

.contacts-add-section {
    display: flex;
    margin-bottom: 100px;
    padding: 50px;
}

.contacts-add-section-img {
    width: 120px;
    height: 120px;
    margin-left: 50px;
    margin-right: 75px;
    margin-top: 150px;
}

.contacts-img-margin img {
    margin-left: 4px;
}

.contacts-add-cancel-btn {
    padding: 15px 24px;
    border-radius: 8px;
    border: solid 1px #2a3647;
    transition: all 150ms ease-in-out;
    margin-right: 16px;
    cursor: pointer;
}

.contacts-add-cancel-btn:hover {
    color: #29abe2;
    border: solid 1px #29abe2;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

.contacts-add-create-btn {
    color: white;
    padding: 16px;
    border-radius: 8px;
    background-color: #2a3647;
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.contacts-add-create-btn:hover {
    background-color: #29abe2;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
}

/* contact created */

.contact-created {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 330px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a3647;
    border-radius: 20px;
    font-size: 20px;
    color: white;
    transform: translateX(500%);
    transition: all 150ms ease-in-out;
}

.creation-succesfull {
    transform: translateX(0%) !important;
}


/* media compatibility */

@media (max-width: 1400px) {

    .contacts-content {
        max-width: 80vw;
    }

    .contacts-headline {
        height: 70px;
    }

    .contacts-headline h1 {
        font-size: 50px;
    }

    .contacts-headline h4 {
        font-size: 24px;
    }

    .contacts-contact-details-h-edit-delete h2 {
        font-size: 40px;
    }

    .contacts-add-edit-div {
        width: 1000px;
        height: 500px;
    }

    .contacts-add-section {
        padding: 25px;
        margin-bottom: 0;
    }

    .contacts-add-section-img {
        margin-left: 25px;
        margin-right: 40px;
    }

    .contacts-add-title {
        width: 550px;
        height: 500px;
    }

    .contacts-edit-title-h h1 {
        font-size: 45px ;
    }

    .contacts-edit-title-h h3 {
        font-size: 20px;
    }
}

@media (max-width: 1350px) {

    .contacts-headline-details-div {
        margin-top: 50px;
    }

    .contacts-headline {
        flex-direction: column;
        align-items: normal;
        height: 110px;
    }

    .contacts-seperator-vertikal {
        display: none;
    }

    .contacts-headline-seperator-horizontal {
        display: block;
    }

    .contacts-contact-logo-name {
        align-items: center;
        flex-direction: column;
        margin-top: 48px;
        min-width: 300px;
    }

    .contacts-contact-details-h-edit-delete {
        margin-left: 0;
        margin-top: 16px;
    }

    .contacts-contact-details-btn-div {
        justify-content: center;
    }
}

@media (max-width: 1200px) {

    .contacts-content {
        max-width: 76vw;
    }

    .contacts-container {
        width: 350px;
    }

    .contacts-new-contact-div {
        width: 340px;
    }

    .contacts-new-contact-btn {
        width: 260px;
    }
    
    .contacts-overview-contact {
        width: 270px;
        margin: 8px 10px;
    }

    .contacts-overview-category {
        min-width: 320px;
        margin: 10px 24px;
    }

    .contacts-seperatore-horizontal {
        width: 300px;
    }

    .contacts-name-email {
        width: 210px;
    }

    .contacts-headline-details-div {
        margin-left: 50px;
    }

    .contacts-add-edit-div {
        width: 850px;
    }

    .contacts-edit-input-btn {
        max-width: 350px;
    }

    .contacts-edit-input input {
        width: 250px;
    }

    .contacts-add-edit-close-btn {
        margin-left: 90%;
    }

    .contacts-add-cancel-btn {
        padding: 12px 16px;
    }

    .contacts-add-create-btn {
        padding: 13px;
    }

    .contacts-add-title {
        width: 300px;
    }

    .contacts-edit-title-h h1 {
        font-size: 40px;
    }

    .contacts-edit-title-h h3 {
        font-size: 17px;
    }
}

@media (max-width: 1050px) {

    .contacts-content {
        max-width: 77vw;
    }

    .contacts-headline-details-div {
        margin-left: 30px;
    }
}

@media (max-width: 1000px) {

    .contacts-content {
        max-width: 100vw;
        position: absolute;
        top: 80px;
        left: 0;
        height: calc(100vh - 160px);
        display: flex;
        justify-content: center;
    }

    .contacts-new-contact-div {
        display: none;
    }
    
    .contacts-overview-space {
        display: none;
    }

    .contacts-add-contact-mobil {
        display: flex;
    }

    .contacts-container {
        width: 100vw;
        height: calc(100vh - 160px);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contacts-container::-webkit-scrollbar {
        display: none;
    }

    .contacts-new-contact-div {
        width: 450px;
    }

    .contacts-new-contact-btn {
        width: 400px;
        margin-left: 0;
    }
    
    .contacts-overview-contact {
        width: 300px;
    }

    .contacts-overview-category {
        min-width: 400px;
    }

    .contacts-seperatore-horizontal {
        width: 360px;
    }

    .contacts-headline-details-div {
        display: none;
        width: 100vw;
        flex-direction: column;
        margin-top: 50px;
    }

    .contacts-contact-logo-name {
        flex-direction: row;
    }

    .contacts-contact-logo-name svg {
        width: 80px;
        height: 80px;
    }

    .contacts-contact-details-btn-div {
        display: none;
    }

    .contacts-contact-details-h-edit-delete h2 {
        margin-left: 24px;
        font-size: 36px;
    }

    .contacts-details-info-hl {
        margin-bottom: 0;
        margin-top: 0;
    }

    .contacts-d-more-options-btn {
        display: flex !important;
    }

    .contacts-details-mobil-close-btn {
        display: flex !important;
    }

    .contacts-add-edit-div {
        left: 30%;
        top: 4px;
        width: 400px;
        height: 750px;
        flex-direction: column;
    }

    .contacts-add-title {
        width: 100%;
        min-height: 350px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
    }

    .contacts-add-title img {
        display: none;
    }

    .contacts-edit-title-h {
        margin-bottom: 0;
        margin-left: 25px;
    }

    .contacts-edit-title-h h1 {
        font-size: 47px;
    }

    .contacts-edit-title-h h3 {
        font-size: 20px;
    }

    .contacts-add-section {
        flex-direction: column;
        flex: 1;
    }

    .contacts-add-edit-close-btn {
        position: relative;
        top: -475px;
        right: -165px;
        background-image: url("./assets/img/close_white.svg");
        background-size: 20px;
        margin: 0;
    }

    .contacts-add-edit-close-btn:hover {
        background-color: #29abe2;
    }

    .contacts-add-section-img {
        margin: 0;
        position: relative;
        left: 35%;
        top: -85px;
    }

    .contacts-edit-input-btn {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .contacts-edit-input {
        position: relative;
        top: -90px;
    }

    .contacts-add-cancel-btn {
        display: none;
    }

    .contacts-add-create-btn {
        position: relative;
        top: -90px;
    }
}

@media (max-width: 750px) {

    .contacts-seperatore-horizontal {
        width: 300px;
    }

    .contacts-overview-category {
        min-width: 300px;
    }
}

@media (max-width: 650px) {

    .contacts-overview {
        padding: 24px 0;
    }

    .contacts-add-contact-mobil {
        right: 50px;
    }

    .contacts-container::-webkit-scrollbar {
        display: inline;
        width: 7px;
    }

    .contacts-container::-webkit-scrollbar-button:vertical:decrement {
        background-color: white;
        background-image: none;
    }
    
    .contacts-container::-webkit-scrollbar-button:vertical:increment {
        background-color: white;
        background-image: url("./assets/img/contacts_arrow_down.svg");
        background-repeat: no-repeat;
        background-position: 50% 10%;
        background-size: 8px;
    }

    .contacts-details-mobil-close-btn {
        right: 50px;
    }

    .contacts-d-more-options-btn {
        right: 50px;
    }
}

@media (max-width: 450px) {

    .contacts-seperatore-horizontal {
        width: 260px;
    }

    .contacts-overview-category {
        min-width: 240px;
        margin: 10px 0;
        padding-left: 50px;
    }

    .contacts-overview-contact {
        width: 270px;
        margin: 8px 0;
    }

    .contacts-add-contact-mobil {
        right: 15px;
    }

    .contacts-details-mobil-close-btn {
        right: 15px;
    }

    .contacts-d-more-options-btn {
        right: 15px;
    }
}