body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  all: unset;
}

#legal_notice {
  max-width: 1920px;
  background-color: #f6f7f8;
}

.legal_notice_content {
  padding-left: 96px;
  padding-top: 110px;
}

.legal_notice_span {
  color: #29abe2;
}

.legal_notice_h3 {
  margin: 0;
  padding: 0;
}

.legal_notice_p {
  margin-top: 0;
  margin-bottom: 16px;
}

.legal_notice_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.legal_notice_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.legal_notice_img {
  height: 21px;
  width: 20px;
}
