body {
  height: 100vh;
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f6f7f8;
  transition: background-color 1s ease;
}

.starting-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  animation: moveDiv 0.7s forwards 0.8s ease;
}

.starting-screen img {
  width: 274px;
  height: 334.07px;
  animation: resizeImg 0.7s forwards 0.8s ease;
}

.content {
  display: flex;
  opacity: 0;
  animation: showContent 1.5s forwards 1s ease;
  flex-direction: column;
  align-items: center;
}

.signup-container {
  animation: showContent 1.3s forwards 1.8s ease;
  opacity: 0;
}

.input-fields {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.input-container:focus-within {
  border-color: #29abe2;
}

.input-container.success {
  border-color: #d1d1d1;
}

.input-container.error {
  border-color: #ff001f !important;
}

.error-position {
  position: absolute;
  left: 10px;
  top: 60px;
  color: #ff8190;
  font-size: 12px;
  height: 20px;
}

.error:focus-within {
  border-color: #ff001f;
}

.h1-blueline {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.login-window {
  width: auto;
  padding: 0px;
  gap: 0px;
}

.signup-container p {
  font-weight: 400;
  font-size: 20px;
}

@media (max-height: 900px) {
  .login-window {
    margin-top: 56px !important;
    gap: 16px !important;
  }

  h1 {
    font-size: 27px !important;
    line-height: 24px !important;
  }

  .login-form {
    gap: 0px !important;
  }

  .input-fields {
    gap: 16px;
    height: 128px !important;
  }

  .login-buttons-container {
    gap: 16px !important;
  }

  .signup-container {
    margin-top: 30px !important;
  }
}

@media (min-width: 720px) {
  .login-window {
    padding: 48px 115px;
  }
}

@media (max-width: 720px) {
  .login-window {
    width: 396px;
    padding: 32px 0px;
  }

  .error-position {
    left: 50px;
  }

  .signup-container p {
    font-weight: 400;
    font-size: 18px;
  }
}

@media (max-height: 900px) {
  .login-window {
    padding: 16px 0px;
    gap: 16px;
  }
}

@media (max-width: 720px) and (max-height: 900px) {
  .login-window {
    padding: 16px 0px;
    gap: 16px;
  }
}

@media (max-width: 720px) {
  .content {
    animation: showContent 1.5s forwards 1.6s ease;
  }

  .starting-screen img {
    width: 100.03px;
    height: 121.97px;
    animation: resizeImg 0.7s forwards 0.8s ease;
  }

  .input-fields {
    width: 364px;
    height: 152px;
  }

  .login-buttons-container {
    flex-direction: column !important;
  }

  .login-input {
    width: 300px !important;
  }

  .signup-container {
    display: flex;
    gap: 35px;
    top: auto !important;
    right: auto !important;
    position: unset !important;
    margin-top: 30px;
  }

  body {
    background-color: #2a3647;
    transition: background-color 1s ease;
    display: flex;
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 47px !important;
    line-height: 56.4px !important;
  }

  .login-buttons-container {
    width: 180px;
  }

  .signup-button {
    width: 104px;
  }

  .login-window {
    width: 396px;
  }

  @keyframes moveDiv {
    0% {
      transform: translate(-50%, -50%);
    }

    100% {
      transform: translate(0, 0);
      left: 38px;
      top: 37px;
    }
  }

  @keyframes resizeImg {
    0% {
      width: 100.03px;
      height: 121.97px;
    }

    100% {
      width: 64px;
      height: 78.03px;
    }
  }

  @keyframes showContent {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media (min-width: 720px) {
  @keyframes moveDiv {
    0% {
      transform: translate(-50%, -50%);
    }

    100% {
      transform: translate(0, 0);
      left: 77px;
      top: 80px;
    }
  }

  @keyframes resizeImg {
    0% {
      width: 274px;
      height: 334.07px;
    }

    100% {
      width: 100.03px;
      height: 121.97px;
    }
  }

  @keyframes showContent {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media (max-width: 420px) {
  .input-fields {
    width: 290px !important;
  }

  .login-window {
    width: 310px;
  }

  .checkbox-container {
    width: 290px !important;
  }

  .error-position {
    left: 30px;
  }
}

.signup-container {
  position: absolute;
  top: 5%;
  right: 5%;

  div {
    display: flex;
    align-items: center;
    gap: 35px;
  }
}

.btn {
  border-radius: 8px;
  gap: 10px;
  background-color: #2a3647;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  border-width: 0px;
  transition: all 100ms ease-in-out;
}

.login-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 3px #00000014;
  background-color: #ffffff;
  gap: 32px;
  border-radius: 30px;
}

.blue-underline {
  width: 150px;
  height: 3px;
  background-color: #29abe2;
}

h1 {
  font-weight: 700;
  font-size: 61px;
  line-height: 73.2px;
  text-align: center;
  margin: 0;
}

.d_none {
  display: none;
}

.login-input {
  font-size: 18px;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  width: 380px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  position: relative;
}

.input-container {
  padding: 15px 16px 15px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember-me {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

.mail-img {
  width: 24px;
  height: 24px;
}

.pdng1524 {
  padding: 15px 24px 15px 24px;
}

.pdng1516 {
  padding: 15px 16px 15px 16px;
}

.btn-gst {
  border: 1px solid #2a3647;
  border-radius: 8px;
  gap: 10px;
  background-color: white;
  transition: box-shadow 100ms ease-in-out, color 100ms ease-in-out,
    border 100ms ease-in-out;
}

.login-buttons-container {
  gap: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.font-inter {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
}

.heigt48 {
  height: 48px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 422px;
  padding-left: 39px;
  gap: 8px;
  height: 24px;
}

.check-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 4px;
}

.check-box:hover {
  cursor: pointer;
  background-color: #edf2fa;
  border-radius: 43px;
}

::placeholder {
  color: #d1d1d1;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 300;
  opacity: 1;
}

.btn:hover {
  background-color: #29abe2;
  border: #29abe2;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.btn:active {
  background-color: #091931;
  border-color: #091931;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.btn-gst:hover {
  cursor: pointer;
  color: #29abe2;
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.links-container {
  position: absolute;
  bottom: 5%;
  width: 246px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  animation: showContent 1.5s forwards 2s ease;
}

.links-container a {
  margin: 0 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #a8a8a8;
  transition: all 100ms ease-in-out;
}

.links-container a:hover {
  color: #29abe2;
  font-weight: 700;
  font-size: 17px;
}

.wrong-password {
  margin-top: -22px;
  font-family: "Poppins" !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  color: #ff8190;
}

.login-red {
  border-color: #ff001f !important;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.password-image-container {
  width: 24px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-img:hover {
  cursor: pointer;
}

@media (max-height: 870px) {
  .login-window {
    height: 420px;
  }

  .input-fields {
    height: 170px !important;
    gap: 30px;
  }

  .login-buttons-container {
    margin-top: 17px;
  }

  .error-position {
    left: 30px;
  }
}
