<div class="header_wrapper">
  <div class="header_content">
    <div id="header_headline" class="header_headline">
      Kanban Project Management Tool
    </div>
    <img
      id="responsive_header_join_logo"
      src="assets/img/logo_black.svg"
      alt="join_logo"
    />
    <div class="header_icons_right">
      <a href="help.html" class="header_help_icon_container">
        <img
          src="assets/img/help.svg"
          class="header_help_icon"
          alt="help_icon"
        />
      </a>
      <div>
        <div
          id="user-logo"
          onclick="toggleMenu()"
          class="header-user-name"
        ></div>

        <div class="user-content" id="user-content">
          <a href="help.html">Help</a>
          <a href="legal_notice.html">Legal Notice</a>
          <a href="privacy_policy.html">Privacy Policy</a>
          <a onclick="logOut()" href="index.html">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</div>
