.header {
  display: flex;
  align-items: center;
  background-color: white;
  height: 96px;
  width: 100%;
  position: fixed;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2), 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.header_wrapper {
  width: 100%;
  max-width: 1440px;
}

.header_content {
  width: calc(100% - 368px);
  max-width: 1072px;
  padding-left: 348px;
  padding-right: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.header_icons_right {
  display: flex;
  align-items: center;
}
.header_help_icon {
  width: 20px;
  height: 20px;
}

.header_help_icon_container:hover .header_help_icon {
  width: 24px;
  height: 24px;
}

.header_help_icon_container {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.header_help_icon_container:hover {
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2a3647;
  width: 232px;
  height: 100vh;
  position: fixed;
  top: 0;
}

.sidebar_join_logo {
  height: 122px;
  padding-top: 64px;
}

.sidebar_links_center {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  color: #cdcdcd;
  width: 100%;
  font-size: 16px;
  margin-bottom: 270px;
}

.sidebar_links_center img {
  height: 30px;
  width: 30px;
}

.sidebar_links_center a {
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.sidebar_links_center :hover {
  background-color: #2a3d59;
}

.sidebar_links_center a:target {
  background-color: beige;
}

.sidebar_links_bottom {
  padding-bottom: 64px;
  width: 100%;
  align-items: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  color: #a8a8a8;
}

.links_bottom_container {
  justify-content: start;
  display: flex;
  width: 100%;
  align-items: center;
  height: 38px;
}
.links_bottom_container a {
  text-align: center;
  margin-left: 60px;
}

.sidebar_links_bottom a:hover {
  cursor: pointer;
  color: #29abe2;
  font-weight: 600;
}

.sidebar_links_bottom a:target {
  background-color: beige;
}

table {
  margin: 0 auto; /* Zentriert die Tabelle horizontal im Link */
  width: auto;
  height: 46px;
}

.img-cell {
  text-align: center; /* Bild mittig in der Zelle */
  vertical-align: middle; /* Vertikale Ausrichtung des Bildes in der Zelle */
}

.text-cell {
  text-align: left; /* Text linksbündig in der rechten Spalte */
  padding-left: 6px; /* Abstand zwischen Bild und Text */
  width: 80px;
}

.sidebar_current_link {
  background-color: #091931;
  pointer-events: none; /* Optional: Deaktiviert den Hover-Effekt */
}

/* TEST ALEX FOR THE GENERATE INITIALS FUNCTION */

.header-user-name {
  height: 50px;
  width: 50px;
  border: 3px solid #2a3647;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #29abe2;
}

.header-user-name:hover {
  cursor: pointer;
  background-color: rgba(12, 46, 98, 0.12);
}

.user-content {
  display: none;
  position: fixed;
  background-color: #2a3647;
  min-width: 140px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  top: 96px;
  right: 0;
  z-index: 1001;
  cursor: pointer;
}

.user-content a {
  color: #cdcdcd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.user-content a:hover {
  background-color: #2a3d59;
}
