<div class="sidebar">
  <div><img src="assets/img/logo_join_big.svg" alt="join_logo" /></div>

  <div>
    <a href="#">
      <img src="assets/img/icon_summery.svg" alt="summary_Icon" />
      <div>Summary</div></a
    >
    <a href="#"
      ><img src="assets/img/icon_addTask.svg" alt="addTask_Icon" />
      <div>Add Task</div></a
    >
    <a href="#"
      ><img src="assets/img/icon_board.svg" alt="board_Icon" />
      <div>Board</div></a
    >
    <a href="#"
      ><img src="assets/img/icon_contacts.svg" alt="Contacts_Icon" />
      <div>Contacts</div></a
    >
  </div>
  <div>
    <a href="#"><div>Privacy Policy</div></a>
    <a href="../../legal_notice.html"><div>Legal notice</div></a>
  </div>
</div>
