<div>
  <img
    src="assets/img/logo_join_big.svg"
    alt="join_logo"
    class="sidebar_join_logo"
  />
</div>

<div class="sidebar_links_center">
  <a href="#">
    <img src="assets/img/icon_summery.svg" alt="summary_Icon" />
    Summary</a
  >
  <a href="#"
    ><img src="assets/img/icon_addTask.svg" alt="addTask_Icon" /> Add Task</a
  >
  <a href="#"><img src="assets/img/icon_board.svg" alt="board_Icon" /> Board</a>
  <a href="../../contacts.html"
    ><img src="assets/img/icon_contacts.svg" alt="Contacts_Icon" /> Contacts</a
  >
</div>
<div class="sidebar_links_bottom">
  <a href="../../privacy_policy.html">Privacy Policy</a>
  <a href="../../legal_notice.html">Legal notice</a>
</div>
