<div>
  <img
    src="assets/img/logo_join_big.svg"
    alt="join_logo"
    class="sidebar_join_logo"
  />
</div>

<div class="sidebar_links_center">
  <a href="#">
    <table>
      <tr>
        <td class="img-cell">
          <img src="assets/img/icon_summery.svg" alt="summary_Icon" />
        </td>
        <td class="text-cell">Summary</td>
      </tr>
    </table>
  </a>
  <a href="#">
    <table>
      <tr>
        <td class="img-cell">
          <img src="assets/img/icon_addTask.svg" alt="addTask_Icon" />
        </td>
        <td class="text-cell">Add Task</td>
      </tr>
    </table>
  </a>
  <a href="#">
    <table>
      <tr>
        <td class="img-cell">
          <img src="assets/img/icon_board.svg" alt="board_Icon" />
        </td>
        <td class="text-cell">Board</td>
      </tr>
    </table>
  </a>
  <a href="#">
    <table>
      <tr>
        <td class="img-cell">
          <img src="assets/img/icon_contacts.svg" alt="contacts_Icon" />
        </td>
        <td class="text-cell">Contacts</td>
      </tr>
    </table>
  </a>

  <div class="sidebar_links_bottom">
    <a href="../../privacy_policy.html">Privacy Policy</a>
    <a href="../../legal_notice.html">Legal notice</a>
  </div>
</div>
