.add_task_content {
  padding-top: 206px;
  padding-left: 328px;
  background-color: #f6f7f8;
  height: 100vh;
}

.add_task_h1 {
  height: 73px;
  width: 278px;
  margin-bottom: 48px;
}

.add_task_fillIn_section {
  display: flex;
}

.aT_unset {
  all: unset;
}

.add_task_form_left {
  height: 376px;
  width: 440px;
  /* background-color: antiquewhite; */
  margin-right: 47.5px;
}

.add_task_seperator {
  height: 424px;
  width: 1px;
  background-color: #d1d1d1;
  margin-right: 47.5px;
}

.add_task_form_right {
  height: 416px;
  width: 440px;
}

.add_task_bottom_section {
  width: 976px;
  height: 56px;
  background-color: aquamarine;
}

.aT_input_title {
  background-color: white;
  box-sizing: border-box;
  padding: 12px 21px;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid;
  border-color: #d1d1d1;
  cursor: pointer;
}

.aT_input_title::placeholder {
  color: #d1d1d1;
  font-weight: 300;
}

/* Fehlermeldung und Randfarbe bei Fehler */
input.error-border {
  border: 2px solid red;
}

.error {
  color: red;
  font-size: 12px;
  /* display: none; Standardmäßig versteckt */
}

sup {
  color: #ff8190;
  font-size: 20px;
  position: relative;
  top: 7px; /* Verschiebt den Stern nach unten */
}

.title_input_error_container {
  margin-bottom: 12px;
  height: 64px;
}

.aT_input_labels {
  font-size: 20px;
  color: #2a3647;
  display: block;
  margin-bottom: 8px;
}

.resizable-container {
  position: relative;
  width: 440px;
  height: 120px;
  margin-bottom: 30px;
}

.resizable-textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #d1d1d1; /* Randfarbe */
  border-radius: 10px; /* Abgerundete Ecken */
  padding: 12px 21px; /* Innenabstand */
  box-sizing: border-box; /* Padding und Border zur Gesamtbreite und -höhe hinzufügen */
  font-size: 20px; /* Schriftgröße für eingegebenen Text */
  font-family: "Inter", sans-serif;
  resize: none; /* Deaktiviert die Standard-Resize-Handles */
  cursor: pointer;
}

.resizable-textarea::-webkit-scrollbar {
  display: none;
}

/* Placeholder-Styling */
.resizable-textarea::placeholder {
  color: #d1d1d1; /* Farbe des Platzhaltertextes */
  font-size: 20px; /* Schriftgröße des Platzhaltertextes */
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.resize-handle {
  padding-bottom: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  cursor: se-resize; /* Zeigt einen Resize-Cursor an */
  z-index: 1; /* Stellt sicher, dass das Bild über dem Textarea liegt */
  pointer-events: auto; /* Erlaubt Interaktionen mit dem Bild */
}

.aT_input_title:focus,
.resizable-textarea:focus,
.aT_input_date:focus {
  border-color: #29abe2;
  outline: none;
}

/*---------------------------------------------------------------------------------*/

/*container mit inputfeld und div mit pfeil img*/
.aT_select_container {
  position: relative;
  display: flex;
  align-items: center;
}

.aT_select_dropdown_fields {
  all: unset;
  width: 440px;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  padding-left: 21px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  position: relative;
}

.aT_select_dropdown_fields:hover {
  border: 1px solid #a8a8a8;
}

/*aussehen vom div mit pfeil img*/
.drop_down_arrow_container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
}

/*hover effekt für die div mit dem pfeil*/
.drop_down_arrow_container:hover {
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
  cursor: pointer;
}

/* Sicherstellen, dass der Hover-Effekt des Input-Feldes auch bei Hover über den Arrow-Container aktiv ist, wenn nicht aktiviert */
.aT_select_container:hover .aT_select_dropdown_fields:not(.active-border) {
  border: 1px solid #a8a8a8;
}
/*aussehen vom placeholder im inputfeld*/
.aT_select_dropdown_fields::placeholder {
  color: black;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

/* Placeholder unsichtbar, wenn das Feld aktiviert ist */
.aT_select_dropdown_fields.active-border::placeholder {
  opacity: 0; /* Macht den Placeholder unsichtbar */
}

/* Wenn aktiv, ändere die Farbe des Borders */
.active-border {
  border: 1px solid #29abe2;
}

/* Hover-Effekt, wenn das Feld aktiviert ist */
.aT_select_dropdown_fields.active-border:hover {
  border: 1px solid #29abe2; /* Beispiel für die Farbe, die beim Aktivieren verwendet wird */
}

/* Ausgangszustand - keine Rotation */
.arrow {
  transition: transform 0.3s ease; /* Übergangsanimation */
}

/* Drehung um 180 Grad */
.arrow.rotate {
  transform: rotate(180deg);
}

/* Stile für das Kontaktlisten-Div */
.contact_list {
  border-radius: 10px;
  background-color: white;
  padding: 55px 7px 7px 7px;
  margin-top: -48px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  overflow: hidden;
}

.category_list {
  border-radius: 10px;
  background-color: white;
  padding: 48px 0 0 0;
  margin-top: -48px;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.categories {
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  padding: 0 14px 0 14px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.categories:hover {
  background-color: rgb(238, 238, 238);
}

.scrollable_container {
  max-height: 100px; /*eigtl. 336px*/
  overflow-y: auto;
  /*scrollbar-width: thin; als Alternative, weil der style leider nicht mögl. ist.*/
}

/* Scrollbar komplett ausblenden, außer den Thumb und die Pfeile */
.scrollable_container::-webkit-scrollbar {
  background-color: transparent; /* Kein Hintergrund oder Rand für die Scrollbar */
  width: 10px;
}

/* Den Scroll-Thumb (den Griff) stylen */
.scrollable_container::-webkit-scrollbar-thumb {
  background-color: #a8a8a8; /* Farbe des Scroll-Thumbs */
  border-radius: 8px; /* Optionale Rundung des Scroll-Thumbs */
}

/* Obere Button mit benutzerdefiniertem Bild */
.scrollable_container::-webkit-scrollbar-button:vertical:decrement {
  background-image: url("../assets/img/scrollbarArrowUp.svg");
  background-repeat: no-repeat;
}

/* Untere Button mit benutzerdefiniertem Bild */
.scrollable_container::-webkit-scrollbar-button:vertical:increment {
  background-image: url("../assets/img/scrollbarArrowDown.svg");
  background-repeat: no-repeat;
}

/* Die Scrollbar-Schiene verstecken */
.scrollable_container::-webkit-scrollbar-track {
  background: transparent; /* Unsichtbare Schiene auf der der thumb gleitet*/
}

/* Scrollbar-Schienenkante ausblenden */
.scrollable_container::-webkit-scrollbar-track-piece {
  background: transparent; /* keine Farbe für sichtbare Laufleiste hinter thumb */
}

.d-none {
  display: none;
}
/*--------------------------------------------------------------------------------------*/

.aT_input_date {
  all: unset;
  background-color: white;
  box-sizing: border-box;
  padding: 12px 21px;
  width: 440px;
  height: 48px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid;
  border-color: #d1d1d1;
  cursor: pointer;
  color: #d1d1d1;
  position: relative;
  margin-bottom: 30px;
}

.aT_input_date::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px; /* Abstand vom rechten Rand */
  transform: translateY(-50%);
  width: 18px; /* Breite deines Bildes */
  height: 20px; /* Höhe deines Bildes */
  background: url(../assets/img/date_calender.svg) no-repeat center center;
  background-size: contain; /* Skalierung des Bildes */
  pointer-events: none; /* Verhindert, dass das Bild Klicks blockiert */
  background-color: white;
}

.aT_set_prio_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.aT_set_prio {
  box-sizing: border-box;
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  background-color: white;
}

.aT_set_prio span {
  padding-right: 8px;
}

.aT_set_prio:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.urgent_box_active {
  box-sizing: border-box;
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ff3d00;
  color: white;
  font-weight: 700;
  box-shadow: none; /* Schatten weg */
}

.urgent_box_active span {
  padding-right: 8px;
}

.urgent_box_active img {
  content: url("../assets/img/Prio_urgent_active.svg");
}

.urgent_box_active:hover {
  cursor: pointer;
}

.medium_box_active {
  box-sizing: border-box;
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffa800;
  color: white;
  font-weight: 700;
  box-shadow: none; /* Schatten weg */
}

.medium_box_active span {
  padding-right: 8px;
}

.medium_box_active img {
  content: url("../assets/img/Prio_medium_active.svg");
}

.medium_box_active:hover {
  cursor: pointer;
}

.low_box_active {
  box-sizing: border-box;
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: #7ae229;
  color: white;
  font-weight: 700;
  box-shadow: none; /* Schatten weg */
}

.low_box_active span {
  padding-right: 8px;
}

.low_box_active img {
  content: url("../assets/img/Prio_low_active.svg");
}

.low_box_active:hover {
  cursor: pointer;
}

.aT_label_subtasks {
  font-size: 20px;
  color: #2a3647;
  display: block;
  margin-top: 24px;
  margin-bottom: 8px;
}

.subtasks_container {
  position: relative;
}

.add_subtasks_plus_icon {
  width: 14px;
  height: 14px;
}

.add_subtasks_close_icon {
  width: 13.1px;
  height: 13.1px;
}

.add_subtasks_check_icon {
  width: 15.5px;
  height: 11.2px;
}

.seperator_close_check {
  height: 24px;
  width: 1px;
  background-color: #d1d1d1;
  margin: 0 3.5px;
}

.drop_down_arrow_container_active_subtasks {
  width: 56px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
}
