@media (max-width: 1310px) {
  .add_task_content {
    height: 1470px;
  }

  .add_task_fillIn_section {
    display: flex;
    flex-direction: column;
    background-color: #f6f7f8;
  }

  .add_task_fillIn_section_edit {
    display: flex;
    flex-direction: column;
    background-color: #f6f7f8;
  }

  .add_task_seperator {
    display: none;
  }

  .add_task_form_left {
    height: unset;
    margin-right: 0;
  }

  .add_task_form_right {
    margin-top: 30px;
  }

  .add_task_bottom_section {
    margin-left: -23px;
    justify-content: space-around;
    z-index: 2000;
    width: 567px;
    padding-bottom: 28px;
  }

  .category_input_dropdown_error_container {
    height: unset;
  }

  .clear_form {
    display: none;
  }

  .create_task {
    margin-left: 46px;
  }
}

@media (max-width: 1000px) {
  .add_task_content {
    justify-content: center;
    display: flex;
    padding-left: 13px;
    padding-top: 128px;
  }
  .add_task_h1 {
    position: fixed;
    z-index: 2;
    background-color: #f6f7f8;
    width: 100%;
    top: 80px;
    left: 0;
    padding: 13px;
  }

  .resize-handle {
    z-index: 0;
  }

  .form_area {
    height: calc(100vh - 105px);
    padding-top: 80px;
  }

  .add_task_bottom_section {
    padding-bottom: 105px;
  }
}

@media (max-width: 480px) {
  .resize-handle {
    z-index: 0;
  }

  .add_task_form_left {
    width: 300px;
  }

  .add_task_form_right {
    width: 300px;
  }

  .aT_select_dropdown_fields {
    padding-right: 15px;
  }

  .category_subtasks_container {
    z-index: 1;
  }

  li {
    height: 100%;
    font-size: 12px;
    line-height: 24px;
    width: 28ch;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: normal;
  }

  ul {
    padding-left: 24px;
    border-radius: 10px;
    position: relative;
    margin-top: 5px;
  }

  .task-controls {
    z-index: 888;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
  }

  .separator_subtasks {
    width: 1px;
    height: 24px;
    background-color: #ccc;
    margin: 0 2px;
  }

  .aT_input_addSubtask {
    padding-right: 65px;
  }
  .aT_set_prio {
    gap: 8px;
    flex-direction: column;
    font-size: 16px;
    width: 87px;
    height: 60px;
  }
  .urgent_box_active {
    gap: 8px;
    flex-direction: column;
    font-size: 16px;
    width: 87px;
    height: 60px;
  }

  .medium_box_active {
    gap: 8px;
    flex-direction: column;
    font-size: 16px;
    width: 87px;
    height: 60px;
  }

  .low_box_active {
    gap: 8px;
    flex-direction: column;
    font-size: 16px;
    width: 87px;
    height: 60px;
  }

  .close_check_container {
    right: 8px;
  }

  .add_task_bottom_section {
    flex-direction: column;
    padding-bottom: 140px;
    margin-left: -116px;
  }

  .add_task_h1 {
    font-size: 45px;
  }

  .aT_input_labels {
    font-size: 16px;
  }

  .aT_input_title {
    font-size: 16px;
  }

  .resizable-textarea {
    font-size: 16px;
  }

  .resizable-textarea::placeholder {
    font-size: 16px;
  }

  .aT_select_dropdown_fields {
    font-size: 16px;
  }

  .aT_select_dropdown_fields::placeholder {
    font-size: 16px;
  }

  .aT_input_date {
    font-size: 16px;
  }

  .categories {
    font-size: 16px;
  }

  .aT_label_subtasks {
    font-size: 16px;
  }

  .add_task_content {
    padding-left: 3px;
  }

  .edit-input {
    margin-left: -48px;
    height: 32px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #005dff;
    padding: 4px 70px 4px 26px;
    box-sizing: border-box;
    font-size: 16px;
    width: 318px;
  }

  p {
    margin-left: -46px;
  }

  #contact_list_name {
    font-size: 16px;
  }
}
