.clear_check_container {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear_img {
  height: 12.5px;
  margin-left: 8px;
}

.create_img {
  width: 15.5px;
  height: 11.2px;
  margin-left: 8px;
}

.clear_form {
  width: 110px;
  height: 56px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-size: 20px;
  color: #2a3647;
}

.create_task {
  width: 183px;
  height: 56px;
  background-color: #2a3647;
  color: white;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 700;
}

.create_task:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #29abe2;
  border: 2px solid #29abe2;
  cursor: pointer;
}

.clear_form:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 2px solid #29abe2;
  cursor: pointer;
  color: #29abe2;
}

.clear_form:hover img {
  filter: invert(54%) sepia(92%) saturate(409%) hue-rotate(155deg)
    brightness(91%) contrast(95%);
}

.d-none {
  display: none;
}

ul {
  padding-left: 48px;
  border-radius: 10px;
  position: relative;
  margin-top: 5px;
}

ul:hover {
  background-color: #eeee;
  cursor: pointer;
}

li {
  height: 100%;
  font-size: 16px;
  line-height: 32px;
  width: 30ch;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: normal;
}

.task-controls {
  z-index: 888;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.task-btn {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.task-item:hover .task-controls {
  display: flex;
  align-items: center;
}

.task-btn:hover {
  transform: translateY(1px);
}

.delete-btn {
  margin-right: 6px;
  height: 18px;
  width: 16px;
}

.edit-btn {
  width: 18.2px;
}

.edit-input {
  margin-left: -48px;
  width: 113%;
  height: 32px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #005dff;
  padding: 4px 86px 4px 16px;
  box-sizing: border-box;
  font-size: 16px;
}

.edit-input:focus {
  border-bottom: 1px solid #005dff;
  outline: none;
}

.task-btn-input {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.delete-btn-input {
  width: 16px;
  height: 18px;
}

.save-btn-input {
  height: 11.2px;
  width: 15.5px;
}

.edit-modus-btns {
  display: flex;
  width: 22px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.3s;
}

.edit-modus-btns:hover {
  background-color: #f0f0f0;
}

.error {
  margin-top: 3px;
  display: none;
  color: #ff8190;
  font-size: 12px;
}

.error-show {
  display: block;
}

.aT_select_dropdown_fields.invalid {
  border: 1px solid red !important;
}

.aT_select_container:hover .aT_select_dropdown_fields:not(.invalid) {
  border: 1px solid #a8a8a8;
}

.task-message {
  z-index: 2000;
  padding: 12px;
  position: fixed;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a3647;
  color: white;
  width: 315px;
  height: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.1s ease;
  font-size: 24px;
}

.task-message.show {
  bottom: 50%;
  opacity: 1;
}

.task-image {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 12px;
}
