.category_list {
  border-radius: 10px;
  background-color: white;
  padding: 48px 0 0 0;
  margin-top: -48px;
  box-shadow: 0px 0px 4px 0px #0000001a;
}

.categories {
  height: 48px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 20px;
  padding: 0 14px 0 21px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.categories:hover {
  background-color: rgb(238, 238, 238);
}

.category_subtasks_container {
  position: relative;
}

.category_input_dropdown_error_container {
  height: 50px;
  z-index: 3;
  position: relative;
}

.aT_input_date {
  font-family: "Inter", sans-serif;
  background-color: white;
  box-sizing: border-box;
  padding: 12px 21px;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid;
  border-color: #d1d1d1;
  cursor: pointer;
  color: #d1d1d1;
  position: relative;
}

.aT_input_date::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  width: 18px;
  height: 20px;
  background: url(../assets/img/date_calender.svg) no-repeat center center;
  background-size: contain;
  pointer-events: none;
  background-color: white;
  color: #000000;
}

.aT_input_date::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.date_error_container {
  width: 100%;
  height: 52px;
  margin-bottom: 32px;
}

.aT_subtasks_container {
  margin-top: 6px;
  max-height: 150px;
  padding: 5px;
  overflow: auto;
}

.aT_subtasks_container::-webkit-scrollbar {
  color: transparent;
  width: 0;
}

.aT_label_subtasks {
  font-size: 20px;
  color: #2a3647;
  display: block;
  margin-top: 24px;
  margin-bottom: 8px;
}

.add_subtasks_plus_icon {
  width: 14px;
  height: 14px;
}

.add_subtasks_close_icon {
  width: 13.1px;
  height: 13.1px;
}

.add_subtasks_check_icon {
  width: 15.5px;
  height: 11.2px;
}

.aT_input_addSubtask {
  background-color: white;
  box-sizing: border-box;
  padding-left: 21px;
  padding-right: 75px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 476px;
  height: 48px;
  border-radius: 10px;
  font-size: 20px;
  border: 1px solid;
  border-color: #d1d1d1;
  cursor: pointer;
  position: relative;
}

.aT_input_addSubtask::placeholder {
  color: #d1d1d1;
  font-weight: 300;
}

.aT_input_addSubtask:focus {
  border-color: #29abe2;
  outline: none;
}

.separator_subtasks {
  width: 1px;
  height: 24px;
  background-color: #ccc;
  margin: 0 6px;
}

.subtasks_input_subs_container {
  position: relative;
  z-index: 2;
}

.aT_set_prio_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.aT_set_prio {
  box-sizing: border-box;
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  box-shadow: 0px 0px 4px 0px #0000001a;
  background-color: white;
}

.aT_set_prio span {
  padding-right: 8px;
}

.aT_set_prio:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.urgent_box_active {
  box-sizing: border-box;
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ff3d00;
  color: white;
  font-weight: 700;
  box-shadow: none;
}

.urgent_box_active span {
  padding-right: 8px;
}

.urgent_box_active img {
  content: url("../assets/img/Prio_urgent_active.svg");
}

.urgent_box_active:hover {
  cursor: pointer;
}

.medium_box_active {
  box-sizing: border-box;
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffa800;
  color: white;
  font-weight: 700;
  box-shadow: none;
}

.medium_box_active span {
  padding-right: 8px;
}

.medium_box_active img {
  content: url("../assets/img/Prio_medium_active.svg");
}

.medium_box_active:hover {
  cursor: pointer;
}

.low_box_active {
  box-sizing: border-box;
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  background-color: #7ae229;
  color: white;
  font-weight: 700;
  box-shadow: none;
}

.low_box_active span {
  padding-right: 8px;
}

.low_box_active img {
  content: url("../assets/img/Prio_low_active.svg");
}

.low_box_active:hover {
  cursor: pointer;
}

.invalid {
  border: 1px solid red;
}

@media (max-width: 480px) {
  .aT_input_addSubtask {
    width: 300px;
    font-size: 16px;
  }
}
