* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f7f8;
}

.board_content {
  margin-left: 232px;
  margin-top: 96px;
}

.board_header {
  width: 1080px;
  height: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 64px;
}

.title_span {
  height: 73px;
}

.plus_btn {
  border: 2px solid #2a3647;
  border-radius: 8px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  gap: 10px;
  cursor: pointer;
  transition: 100ms;
}

.plus_btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  animation: ease-in-out;
}

.search_add_task {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.search_task_input {
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
  border: 0px;
}

.input_div {
  width: 312px;
  height: 48px;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  border-radius: 10px;
  gap: 10px;
  padding: 8px 16px;
  transition: 100ms;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search_icon_div {
  width: 48px;
  height: 32px;
  gap: 16px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-left: 1px solid #d1d1d1;
}

.search_icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input_div.default-border {
  border-color: #a8a8a8;
}

.input_div.focused-border {
  border-color: #29abe2;
}

.search_task_input:focus {
  border: 0;
  outline: none;
}

::placeholder {
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
}

.add_task_btn {
  width: 160px;
  height: 48px;
  border-radius: 10px;
  border: 1px;
  background-color: #2a3647;
  padding: 8px 16px;
  gap: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: 100ms;
}

.add_task_btn_txt {
  height: 24px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.add_task_plus_div {
  width: 32px;
  height: 32px;
}

.add_task_btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
  animation: ease-in-out;
}

.add_icon {
  width: 18.67px;
  height: 18.67px;
}

.no_tasks {
  width: 252px;
  height: 48px;
  border: 1px dotted #a8a8a8;
  border-radius: 10px;
  gap: 10px;
  background-color: #e7e7e7;
  box-shadow: 0px 0px 4px 0px #00000029;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_tasks_txt {
  height: 19px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.drag_area_border {
  border: 1px dotted #a8a8a8;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
}

#sectionContainer {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  z-index: 1001;
  transition: right 0.5s ease-in-out;
}

.show-section {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 500;
}

.overlay.active {
  display: block;
}

body.no-scroll {
  overflow: hidden;
}

.task-form {
  display: none;
  position: fixed;
  top: 50%;
  right: -1116px;
  width: 1116px;
  height: 870px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  transition: right 0.2s ease-in-out;
  z-index: 502;
}

.task-form.active {
  display: block;
  right: calc(50% - 558px);
}

.addTask_overlay_headline {
  padding: 64px 74px 0;
  display: flex;
  justify-content: space-between;
}

.close_overlay_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.close_overlay_btn:hover {
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
}

.add_task_bottom_overlay {
  background-color: white;
  z-index: 888;
  padding-top: 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 969px;
  bottom: 64px;
}

.form_area_overlay {
  padding: 0 74px 0 74px;
}

.add_task_fillIn_section_overlay {
  display: flex;
  justify-content: space-between;
}

.add_task_form_left_overlay {
  height: 376px;
  width: 440px;
}

.add_task_seperator_overlay {
  height: 450px;
  width: 1px;
  background-color: #d1d1d1;
}

.clear_form_overlay {
  width: 110px;
  height: 56px;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-size: 20px;
  color: #2a3647;
}

.clear_form_overlay:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 2px solid #29abe2;
  cursor: pointer;
  color: #29abe2;
}

.clear_form_overlay:hover img {
  filter: invert(54%) sepia(92%) saturate(409%) hue-rotate(155deg)
    brightness(91%) contrast(95%);
}

.create_task_overlay {
  width: 183px;
  height: 56px;
  background-color: #2a3647;
  color: white;
  border: 1px solid #2a3647;
  border-radius: 10px;
  font-size: 21px;
  font-weight: 700;
}

.create_task_overlay:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #29abe2;
  border: 2px solid #29abe2;
  cursor: pointer;
}

.category_input_dropdown_error_container_overlay {
  height: 50px;
  z-index: 3;
  position: relative;
}

.task_content {
  width: 1208px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 336px;
  left: 232px;
  gap: 26px;
}

.task_main {
  display: flex;
  flex-direction: column;
}

.task_topic {
  width: 244px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #42526e;
}

.aT_subtasks_container_overlay {
  height: 100px;
  padding: 5px;
  overflow: auto;
}

.aT_subtasks_container_overlay::-webkit-scrollbar {
  color: transparent;
  width: 0;
}

.edit-input_overlay {
  margin-left: -48px;
  width: 440px;
  height: 32px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #005dff;
  padding: 4px 86px 4px 16px;
  box-sizing: border-box;
  font-size: 16px;
}
