@media (max-width: 1435px) {
    .board_header {
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }

    .task_slots {
        flex-direction: column;
    }

    .add_task_btn_txt {
        display: none;
    }

    .add_task_btn {
        width: 40px;
        height: 40px;
    }
}