@media (max-width: 1000px) {
  .task-form.active {
    overflow: auto;
    z-index: 10000;
    right: calc(50% - 195px);
  }

  .task-form.active::-webkit-scrollbar {
    display: none;
  }

  .task-form {
    width: 390px;
  }

  .add_task_h1 {
    margin-left: 0;
    font-size: 48px;
    background-color: unset;
    position: unset;
    margin-bottom: 16px;
    padding-left: 0;
  }

  .addTask_overlay_headline {
    padding: 25px 25px 0;
  }

  .add_task_fillIn_section_overlay {
    display: block;
  }

  .add_task_form_left_overlay {
    height: 376px;
    width: 344px;
    z-index: 1;
    position: relative;
  }

  .add_task_seperator_overlay {
    display: none;
  }

  .add_task_form_right_overlay {
    margin-top: 63px;
    width: 344px;
  }

  .add_task_bottom_overlay {
    margin-top: 26px;
    width: 344px;
    position: relative;
    flex-direction: column;
    display: flex;
    bottom: 25px;
  }

  .aT_set_prio {
    width: 106px;
  }

  .medium_box_active {
    width: 119px;
  }

  .urgent_box_active {
    width: 100px;
  }

  .low_box_active {
    width: 100px;
  }
  .task-message {
    bottom: -500px;
  }

  .aT_subtasks_container_overlay {
    height: 151px;
  }

  .aT_input_addSubtask {
    width: 340px;
  }

  ul {
    padding-left: 40px;
  }
  .edit-input {
    margin-left: -40px;
    width: 114%;
  }

  li {
    line-height: 32px;
    width: 23ch;
  }
  .task-message {
    z-index: 2000;
    padding: 12px;
    position: fixed;
    top: 100%; /* Startet außerhalb des Bildschirms */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a3647;
    color: white;
    width: 315px;
    height: 50px;
    border-radius: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease; /* Etwas längere Transition für sanfteres Hereinfliegen */
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .task-form.active {
    display: none;
  }

  .overlay.active {
    display: none;
  }
}
