* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f7f8;
}

.board_content {
  padding-left: 232px;
  padding-top: 96px;
}

.board_header {
  height: 232px;
  width: 1208px;
  padding-top: 96px;
  padding-left: 64px;
  display: flex;
  justify-content: space-between;
}

.board_categorys {
  width: 1208px;
  height: 24px;
  gap: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.plus_btn {
  border: 2px solid #2a3647;
  border-radius: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  gap: 10px;
  cursor: pointer;
  transition: 100ms;
}

.plus_btn:hover {
  color: #29abe2;
  border-color: #29abe2;
  animation: ease-in-out;
}

.search_add_task {
  width: 1056px;
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.search_task_input {
  width: 280px;
  height: 32px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 400;
  justify-content: space-between;
  border: 0px;
}

.input_div {
  width: 312px;
  height: 48px;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  border-radius: 10px;
  gap: 10px;
  padding: 8px 16px;
  transition: 100ms;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search_icon_div {
  width: 48px;
  height: 32px;
  gap: 16px;
  display: flex;
  justify-content: right;
  align-items: center;
  border-left: 1px solid #d1d1d1;
}

.search_icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input_div.default-border {
  border-color: #a8a8a8;
}

.input_div.focused-border {
  border-color: #29abe2;
}

.search_task_input:focus {
  border: 0;
  outline: none;
}

::placeholder {
  color: #d1d1d1;
  font-size: 20px;
  font-weight: 400;
}

.add_task_btn {
  width: 160px;
  height: 48px;
  border: 1px;
  background-color: #2a3647;
  border-radius: 10px;
  padding: 8px 16px;
  gap: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: 100ms;
}

.add_task_btn_txt {
  height: 24px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.add_task_plus_div {
  width: 32px;
  height: 32px;
}

.add_task_btn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px #00000040;
  animation: ease-in-out;
}

.task_slots {
  width: 1208px;
  gap: 26px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 16px;
}

.category_topics {
  width: 244px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.slots {
  width: 252px;
  gap: 16px;
}

.add_icon {
  width: 18.67px;
  height: 18.67px;
}

.no_tasks {
  width: 252px;
  height: 48px;
  border: 1px dotted #a8a8a8;
  border-radius: 10px;
  gap: 10px;
  background-color: #e7e7e7;
  box-shadow: 0px 0px 4px 0px #00000029;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_tasks_txt {
  height: 19px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.drag_area_border {
  border: 1px dotted #a8a8a8;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px #00000029;
}

/* Der Container, in den die Section geladen wird */
#sectionContainer {
  position: fixed;
  top: 0;
  right: -100%; /* Start außerhalb des Bildschirms */
  width: 300px;
  height: 100vh;
  z-index: 1001;
  transition: right 0.5s ease-in-out;
}

/* Der ausgegraute Hintergrund */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Wenn die Section angezeigt wird */
.show-section {
  right: 0; /* Bringt die Section ins Bild */
}

/* ab hier addTaskOverlay von Judith*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 500;
}

body.no-scroll {
  overflow: hidden;
}

.task-form {
  display: none;
  position: fixed;
  top: 50%;
  right: -1116px;
  width: 1116px;
  height: 870px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  transition: right 0.3s ease-in-out;
  z-index: 502; /* Über dem Overlay */
}

.task-form.active {
  right: calc(50% - 558px);
}

.addTask_overlay_headline {
  display: flex;
  justify-content: space-between;
}

.close_overlay_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 32px;
  width: 32px;
}
/* Ende addTask Overlay von Judith */
