@media (max-width: 1450px) {
  .board_content {
    display: flex;
    flex-direction: column;
  }

  .board_header {
    width: 850px;
  }

  .task_content {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
  }

  .task_main {
    display: flex;
  }

  .small_card_row {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

@media (max-width: 1340px) {
  .search_add_task {
    justify-content: unset;
  }

  .input_div {
    margin-left: 30px;
  }

  .board_header {
    display: flex;
  }
}

@media (max-width: 1170px) {
  .board_header {
    width: 650px;
  }
}

@media (max-width: 1100px) {
  .input_div {
    width: 220px;
  }

  .search_task_input {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  .board_content {
    padding-bottom: 100px;
    margin-top: 5px;
    margin-left: 0px;
  }

  .board_header {
    padding-top: 96px;
    display: flex;
    justify-content: center;
  }

  .subtasks_container {
    overflow-y: unset;
  }

  .subtasks_container {
    width: 200px;
  }

  .assigned_big_name {
    font-size: 16px;
  }

  .assigned_big_logo {
    width: 30px;
    height: 30px;
    gap: 5px;
  }

  .big_art {
    width: 150px;
    height: 26px;
    font-size: 18px;
    font-weight: 200;
  }

  .big_due_date {
    font-size: 16px;
  }

  .big_del_edit {
    width: 200px;
    height: 24px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
  }

  .big_assigned_user {
    padding: 0px 0px;
  }

  .big_prio_img {
    font-size: 16px;
  }
}

@media (max-height: 1150px) {
  .big_card {
    border-right: 10px solid transparent;
    overflow: hidden;
    height: 750px;
  }

  .form_area_edit {
    height: 750px !important;
  }
}

.add_task_fillIn_section_edit {
  height: 620px !important;
}

@media (max-height: 900px) {
  .big_card_close {
    margin-right: 15px !important;
  }

  .big_card_bg {
    align-items: normal !important;
  }

  .big_card::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }

  .big_card::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 8px;
  }

  .big_card::-webkit-scrollbar-button:vertical:decrement,
  .big_card::-webkit-scrollbar-button:vertical:increment {
    height: 15px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .big_card::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("../assets/img/scrollbarArrowUp.svg");
    background-repeat: no-repeat;
  }

  .big_card::-webkit-scrollbar-button:vertical:increment {
    background-image: url("../assets/img/scrollbarArrowDown.svg");
    background-repeat: no-repeat;
  }

  .big_card::-webkit-scrollbar-button:vertical:end:decrement,
  .big_card::-webkit-scrollbar-button:vertical:start:increment {
    display: none;
  }

  .big_card::-webkit-scrollbar-track,
  .big_card::-webkit-scrollbar-track-piece {
    background: transparent;
  }
}

@media (max-height: 880px) {
  .big_card {
    width: 100% !important;
    border-radius: 0;
    height: 90vh !important;
  }

  .add_task_fillIn_section_edit {
    height: 85% !important;
  }

  .edit_button {
    bottom: 40px !important;
  }
}

@media (max-height: 700px) {
  .edit_button {
    bottom: 55px !important;
  }

  .add_task_fillIn_section_edit {
    height: 80% !important;
  }
}

@media (max-width: 600px) {
  .add_task_fillIn_section_edit {
    height: 70% !important;
  }
}

@media (max-width: 750px) {
  .board_content {
    margin-left: -15px;
  }

  .title_big {
    font-size: 30px;
    font-weight: 400;
  }

  .board_header {
    padding-top: 96px;
    display: flex;
  }

  .input_div {
    gap: 16px;
  }

  .add_task_btn_txt {
    display: none;
  }

  .add_task_btn {
    width: 40px;
    height: 40px;
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input_div {
    width: 260px;
    height: 32px;
    margin-left: 16px;
  }

  .search_task_input {
    width: 200px;
  }

  .title_span {
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 40px;
  }
}

@media (max-width: 675px) {
  .board_header,
  .title_span,
  .search_add_task,
  .add_task_btn {
    display: none;
  }

  .board_header_responsive,
  .title_span_responsive,
  .search_add_task_responsive,
  .add_task_btn_responsive {
    display: unset;
  }

  .board_header_responsive {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 48px;
    padding-left: 32px;
  }

  .title_button_container_responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
  }

  .big_card {
    width: 80%;
    border-right: 10px;
  }

  .big_card::-webkit-scrollbar-button:vertical:increment {
    height: 40px;
  }

  .big_card::-webkit-scrollbar-button:vertical:decrement {
    height: 70px;
  }

  .add_task_btn_txt {
    display: none;
  }

  .add_task_btn,
  .add_task_btn_responsive {
    width: 40px;
    height: 40px;
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title_big {
    width: 300px;
    font-size: 30px;
    font-weight: 400;
  }

  .big_description {
    width: 300px;
    font-size: 16px;
  }

  .big_due,
  .big_prio,
  .big_assigned,
  .big_subs {
    width: 300px;
    font-size: 16px;
    gap: 10px;
  }

  .assigned_div {
    width: 300px;
    max-height: fit-content;
  }

  .big_card_art_close {
    width: 290px;
  }

  h1 {
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 40px;
  }

  .task_card_small {
    width: 220px;
    padding: 16px;
    gap: 5px;
    margin-bottom: 10px;
  }

  .small_card_row {
    gap: 16px;
  }

  .task_card_small_content {
    width: 220px;
  }

  .title_desc_small_div {
    width: 220px;
  }

  .title_small {
    width: 220px;
    font-size: 16px;
    font-weight: 700;
  }

  .description_small {
    width: 220px;
  }

  .sub_amount_small {
    width: 220px;
  }

  .subtasks_bar_small {
    width: 100px;
  }

  .search_add_task {
    flex-direction: column;
  }

  .board_header {
    padding-left: 15px;
  }

  .add_task_form_left_edit {
    width: 95% !important;
  }

  .add_task_form_right {
    width: 95% !important;
  }
}

@media (max-width: 385px) {
  .board_header_responsive {
    width: 320px;
    padding-top: 96px;
    padding-bottom: 48px;
    padding-left: 16px;
  }

  .big_card {
    width: 290px;
    padding: 10px;
  }

  .title_big,
  .big_description,
  .big_due,
  .big_prio,
  .big_assigned,
  .big_subs {
    width: 290px;
  }

  .title_button_container_responsive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
  }

  .input_div,
  .input_div_responsive {
    width: 260px;
    height: 32px;
    margin-left: 10px;
  }

  .search_task_input,
  .search_task_input_responsive {
    width: 200px;
  }
}

@media (max-width: 1150px) {
  .task-form {
    width: 1096px;
  }

  .task-form.active {
    right: calc(50% - 549px);
  }

  .add_task_bottom_overlay {
    width: 947px;
  }
}

@media (max-width: 1110px) {
  .task-form.active {
    right: calc(50% - 490px);
  }

  .task-form {
    width: 980px;
  }

  .addTask_overlay_headline {
    padding: 64px 25px 0;
  }

  .form_area_overlay {
    padding: 0 25px 0 25px;
  }

  .add_task_bottom_overlay {
    width: 929px;
  }
}
