.task_card_small {
  width: 220px;
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 3px #00000014;
  margin-bottom: 16px;
  cursor: pointer;
  transition: transform 300ms ease-out;
}

.rotate {
  transform: rotate(5deg);
}

.task_card_small_content {
  position: relative;
  gap: 24px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.art_small {
  width: 144px;
  height: 27px;
  border-radius: 8px;
  padding: 4px, 16px, 4px, 16px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_desc_small_div {
  width: 220px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title_small {
  width: 220px;
  font-size: 16px;
  font-weight: 700;
  color: #2a3647;
}

.description_small {
  width: 220px;
  font-size: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.sub_amount_small {
  width: 220px;
  height: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subtasks_bar_small {
  width: 128px;
  height: 8px;
  top: 4px;
  border-radius: 8px;
  gap: 10px;
  background-color: #f4f4f4;
}

.subtasks_bar_fill {
  height: 100%;
  border-radius: 8px;
  background-color: #4589ff;
}

.amount_subtasks {
  width: 80px;
  height: 14px;
  left: 139px;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.assigned_prio_small {
  width: 100%;
  height: 32px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.assigned_small {
  width: 80px;
  height: 32px;
  display: flex;
  margin-left: 12px;
}

.assigned-contact {
  margin-left: -12px;
}

.prio_small {
  padding: 10px;
}
